body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

div{
    position: relative; 
    border: 1px solid white;
}
    
button {
    position: relative;
    align-items: center;
    background-color: transparent;
    background-size: 2vw 2vw;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(248, 249, 250, 0.5);
    color: #000;
}

p{
    color: aliceblue;
}

.div_container {
    position: absolute;
    
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    
    overflow-x: hidden;
    box-sizing: border-box;
}

.div_container.locked {
    overflow: hidden;
}

.div_view {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.game_title{
    color: #f2f2f2;
    font-size: 2vw;
    margin: 20px auto; 
    text-align: center;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
}
.div_specific {
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.div_game{
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    height: 100%;
    width: 100%;
    color: aliceblue;
}

.div_img{
    height: 73%;
    width: 40%;
    top: 0%;
    left: 5%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.div_situation{
    height: 25%;
    width: 45%;
    top: -63%;
    left: 50%;
}

.div_choices{
    height: 25%;
    width: 45%;
    top: -60%;
    left: 50%;
}

.but_padlock{
    position: absolute;
    background-image: url('../img/unlocked.svg');
    bottom: 1vw;
    left: 1vw;
    padding: 1vw 1vw;
}

.text {
    color: aliceblue;
}

.div_specific {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow-y: auto;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.text h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
}